In [1]:
import pandas as pd
info = pd.read_csv('local-authority-statistics-march-2020-quarter-csv.csv')
info

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
0,LASQ.SA1AZZ,1992.09,Quarterly,8461,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
1,LASQ.SA1AZZ,1992.12,Quarterly,17144,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
2,LASQ.SA1AZZ,1993.03,Quarterly,4597,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,1993.06,Quarterly,19710,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,1993.09,Quarterly,45352,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,2015.06,Annual,8439907,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,2016.06,Annual,8937782,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,2017.06,Annual,9497252,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,2018.06,Annual,9967807,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,2019.06,Annual,10683816,Provisional,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

# indexing by position

In [2]:
info.iloc[:,4]

0             Final
1             Final
2             Final
3             Final
4             Final
           ...
3481          Final
3482          Final
3483          Final
3484          Final
3485    Provisional
Name: STATUS, Length: 3486, dtype: object

In [4]:
info.iloc[0:5,3]

0     8461
1    17144
2     4597
3    19710
4    45352
Name: Data_value, dtype: int64

In [5]:
info.iloc[:,:]

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
0,LASQ.SA1AZZ,1992.09,Quarterly,8461,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
1,LASQ.SA1AZZ,1992.12,Quarterly,17144,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
2,LASQ.SA1AZZ,1993.03,Quarterly,4597,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,1993.06,Quarterly,19710,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,1993.09,Quarterly,45352,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,2015.06,Annual,8439907,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,2016.06,Annual,8937782,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,2017.06,Annual,9497252,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,2018.06,Annual,9967807,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,2019.06,Annual,10683816,Provisional,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

In [6]:
info.iloc[6:,4:]

,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
6,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
7,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
8,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
9,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
10,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...
3481,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,Provisional,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

# indexing by lable

In [12]:
info.loc[:,"Period"]

0       1992.09
1       1992.12
2       1993.03
3       1993.06
4       1993.09
         ...
3481    2015.06
3482    2016.06
3483    2017.06
3484    2018.06
3485    2019.06
Name: Period, Length: 3486, dtype: float64

In [13]:
info.loc[:6,"UNITS"]

0    Dollars
1    Dollars
2    Dollars
3    Dollars
4    Dollars
5    Dollars
6    Dollars
Name: UNITS, dtype: object

In [14]:
info.loc[:6,"Period":"UNITS"]

    Period Reference_period  Data_value STATUS    UNITS
0  1992.09        Quarterly        8461  Final  Dollars
1  1992.12        Quarterly       17144  Final  Dollars
2  1993.03        Quarterly        4597  Final  Dollars
3  1993.06        Quarterly       19710  Final  Dollars
4  1993.09        Quarterly       45352  Final  Dollars
5  1993.12        Quarterly        1169  Final  Dollars
6  1994.03        Quarterly       18706  Final  Dollars

In [17]:
info['Reference_period']= 4
info

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
0,LASQ.SA1AZZ,1992.09,4,8461,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
1,LASQ.SA1AZZ,1992.12,4,17144,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
2,LASQ.SA1AZZ,1993.03,4,4597,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,1993.06,4,19710,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,1993.09,4,45352,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,2015.06,4,8439907,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,2016.06,4,8937782,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,2017.06,4,9497252,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,2018.06,4,9967807,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,2019.06,4,10683816,Provisional,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

In [19]:
# double up record using lambda func

f = lambda x:x*2
info['UNITS'] = info['UNITS'].apply(f)
info

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
0,LASQ.SA1AZZ,1992.09,4,8461,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
1,LASQ.SA1AZZ,1992.12,4,17144,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
2,LASQ.SA1AZZ,1993.03,4,4597,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,1993.06,4,19710,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,1993.09,4,45352,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,2015.06,4,8439907,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,2016.06,4,8937782,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,2017.06,4,9497252,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,2018.06,4,9967807,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,2019.06,4,10683816,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

In [20]:
f = lambda x:x*2
info['Period'] = info['Period'].apply(f)
info

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
0,LASQ.SA1AZZ,3984.18,4,8461,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
1,LASQ.SA1AZZ,3984.24,4,17144,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
2,LASQ.SA1AZZ,3986.06,4,4597,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,3986.12,4,19710,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,3986.18,4,45352,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,4030.12,4,8439907,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,4032.12,4,8937782,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,4034.12,4,9497252,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,4036.12,4,9967807,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,4038.12,4,10683816,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

# sorting

In [23]:
info.sort_values(by = 'Data_value')

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
3127,LASA.SA1AZZ,4024.12,4,-650085,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3130,LASA.SA1AZZ,4030.12,4,-577432,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3126,LASA.SA1AZZ,4022.12,4,-557914,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3128,LASA.SA1AZZ,4026.12,4,-472563,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3131,LASA.SA1AZZ,4032.12,4,-464279,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3267,LASA.SAEAZZ,4034.12,4,9935596,Final,DollarsDollars,3,Local Authority Statistics - LAS,Expense - Actual,Total Expense Excluding Non-operating Items
3484,LASA.SARAZZ,4036.12,4,9967807,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3268,LASA.SAEAZZ,4036.12,4,10380328,Final,DollarsDollars,3,Local Authority Statistics - LAS,Expense - Actual,Total Expense Excluding Non-operating Items
3485,LASA.SARAZZ,4038.12,4,10683816,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3269,LASA.SAEAZZ,4038.12,4,11028568,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Expense - Actual,Total Expense Excluding Non-operating Items

In [24]:
info.sort_values(by = 'Data_value',ascending=False)

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
3269,LASA.SAEAZZ,4038.12,4,11028568,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Expense - Actual,Total Expense Excluding Non-operating Items
3485,LASA.SARAZZ,4038.12,4,10683816,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3268,LASA.SAEAZZ,4036.12,4,10380328,Final,DollarsDollars,3,Local Authority Statistics - LAS,Expense - Actual,Total Expense Excluding Non-operating Items
3484,LASA.SARAZZ,4036.12,4,9967807,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3267,LASA.SAEAZZ,4034.12,4,9935596,Final,DollarsDollars,3,Local Authority Statistics - LAS,Expense - Actual,Total Expense Excluding Non-operating Items
...,...,...,...,...,...,...,...,...,...,...
3131,LASA.SA1AZZ,4032.12,4,-464279,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3128,LASA.SA1AZZ,4026.12,4,-472563,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3126,LASA.SA1AZZ,4022.12,4,-557914,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3130,LASA.SA1AZZ,4030.12,4,-577432,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3127,LASA.SA1AZZ,4024.12,4,-650085,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...

# filtering

In [26]:
info['Data_value']>6

0       True
1       True
2       True
3       True
4       True
        ...
3481    True
3482    True
3483    True
3484    True
3485    True
Name: Data_value, Length: 3486, dtype: bool

In [28]:
filter1 = info['Data_value']>10000
filtered_new = info[filter1]
filtered_new

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
1,LASQ.SA1AZZ,3984.24,4,17144,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,3986.12,4,19710,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,3986.18,4,45352,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
6,LASQ.SA1AZZ,3988.06,4,18706,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
7,LASQ.SA1AZZ,3988.12,4,40160,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,4030.12,4,8439907,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,4032.12,4,8937782,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,4034.12,4,9497252,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,4036.12,4,9967807,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,4038.12,4,10683816,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

In [29]:
filter2 = (info['Data_value']>10000) & (info['Period']>4000)
filtered_review = info[filter2]
filtered_review

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
30,LASQ.SA1AZZ,4000.06,4,112330,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
31,LASQ.SA1AZZ,4000.12,4,88450,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
32,LASQ.SA1AZZ,4000.18,4,37188,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
33,LASQ.SA1AZZ,4000.24,4,50001,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
34,LASQ.SA1AZZ,4002.06,4,85424,Final,DollarsDollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
...,...,...,...,...,...,...,...,...,...,...
3481,LASA.SARAZZ,4030.12,4,8439907,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,4032.12,4,8937782,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,4034.12,4,9497252,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,4036.12,4,9967807,Final,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,4038.12,4,10683816,Provisional,DollarsDollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income