In [ ]:
import pandas as pd
info = pd.read_csv('local-authority-statistics-march-2020-quarter-csv.csv')
info

In [19]:
customer = pd.read_csv('rts_mar20qtr-tables-csv.csv')

In [20]:
customer

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,RTTA.SF11CA,1997.03,27070.4,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
1,RTTA.SF11CA,1998.03,27748.4,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
2,RTTA.SF11CA,1999.03,28216.6,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
3,RTTA.SF11CA,2000.03,30204.1,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
4,RTTA.SF11CA,2001.03,31641.6,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21824,RTEQ.SNV,2019.03,1185.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21825,RTEQ.SNV,2019.06,1196.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21826,RTEQ.SNV,2019.09,1206.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21827,RTEQ.SNV,2019.12,1216.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21828,RTEQ.SNV,2020.03,1228.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN

In [25]:
type(info)

pandas.core.frame.DataFrame

In [26]:
info.head()

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
0,LASQ.SA1AZZ,1992.09,Quarterly,8461,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
1,LASQ.SA1AZZ,1992.12,Quarterly,17144,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
2,LASQ.SA1AZZ,1993.03,Quarterly,4597,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
3,LASQ.SA1AZZ,1993.06,Quarterly,19710,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...
4,LASQ.SA1AZZ,1993.09,Quarterly,45352,Final,Dollars,3,Local Authority Statistics - LAS,Surplus - Actual,Operating surplus/deficit excluding non-operat...

In [27]:
customer.head(10)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,RTTA.SF11CA,1997.03,27070.4,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
1,RTTA.SF11CA,1998.03,27748.4,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
2,RTTA.SF11CA,1999.03,28216.6,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
3,RTTA.SF11CA,2000.03,30204.1,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
4,RTTA.SF11CA,2001.03,31641.6,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
5,RTTA.SF11CA,2002.03,33853.0,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
6,RTTA.SF11CA,2003.03,36284.6,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
7,RTTA.SF11CA,2004.03,38184.9,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
8,RTTA.SF11CA,2005.03,40995.4,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN
9,RTTA.SF11CA,2006.03,43865.7,NaN,F,Dollars,6,Retail Trade (ANZSIC06) - RTT,"Sales and stocks by industry, in current and c...",Core industries total,Sales (operating income),Current,Actual,NaN

In [28]:
info.tail()

,Series_reference,Period,Reference_period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title
3481,LASA.SARAZZ,2015.06,Annual,8439907,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3482,LASA.SARAZZ,2016.06,Annual,8937782,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3483,LASA.SARAZZ,2017.06,Annual,9497252,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3484,LASA.SARAZZ,2018.06,Annual,9967807,Final,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income
3485,LASA.SARAZZ,2019.06,Annual,10683816,Provisional,Dollars,3,Local Authority Statistics - LAS,Income - Actual,Total operating income

In [29]:
customer.tail(10)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
21819,RTEQ.SNV,2017.12,1141.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21820,RTEQ.SNV,2018.03,1150.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21821,RTEQ.SNV,2018.06,1161.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21822,RTEQ.SNV,2018.09,1170.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21823,RTEQ.SNV,2018.12,1176.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21824,RTEQ.SNV,2019.03,1185.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21825,RTEQ.SNV,2019.06,1196.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21826,RTEQ.SNV,2019.09,1206.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21827,RTEQ.SNV,2019.12,1216.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN
21828,RTEQ.SNV,2020.03,1228.0,NaN,F,Index,0,Retail Trade Deflators (ANZSIC06) - RTE,Retail trade sales deflators by industry - Bas...,Food and beverage services,NaN,NaN,NaN,NaN

In [30]:
info.shape

(3486, 10)

In [ ]:
customer.shape

In [ ]:
info.info(null_counts = True)

In [ ]:
customer.info(null_counts = True)

In [ ]:
info.mean()

In [ ]:
customer.mean()